services:
  # https://hub.docker.com/r/gollumwiki/gollum
  gollum:
    build:
      context: .
      dockerfile: dockerfiles/gollum-ruby-bookworm.dockerfile
    container_name: gollum_dev
    # image: gollumwiki/gollum
    restart: always
    ports:
      - 4567:8081
    volumes:
      # - ./wiki:/wiki
      - gollum:/wiki
    # entrypoint and command are defined in Dockerfile
    depends_on:
      - dollum
  dollum:
    image: busybox
    volumes:
      - ./conf/dollum-entrypoint.sh:/entrypoint.sh
      - gollum:/wiki
    entrypoint: ["sh", "-C", "/entrypoint.sh"]

volumes:
  gollum:
